<% breadcrumb :edit_library, @library %>
    <h1>Редактирование библиотеки</h1>
    <%= render 'form' %>
        <br>
        <%= link_to @library do %>
            <span>←</span> Назад
            <% end %>
