<% breadcrumb :edit_issuance, @issuance %>
    <h1>Редактирование выдачи</h1>
    <%= render 'form' %>
        <br>
        <%= link_to @issuance do %>
            <span>←</span> Назад
            <% end %>
