<% breadcrumb :edit_worker, @worker %>
    <h1>Редактирование сотрудника</h1>
    <%= render 'form' %>
        <br>
        <%= link_to @worker do %>
            <span>←</span> Назад
            <% end %>
