<div class="sidebar__item">
    <a href="/books">
        <i class="fa fa-book sidebar__item-icon"></i><span class="sidebar__item-text">Книги</span></a>
</div>
<div class="sidebar__item">
    <a href="/workers">
        <i class="fa fa-users sidebar__item-icon"></i><span class="sidebar__item-text">Сотрудники</span></a>
</div>
<div class="sidebar__item">
    <a href="/libraries">
        <i class="fa fa-bank sidebar__item-icon"></i><span class="sidebar__item-text">Библиотеки</span></a>
</div>
<div class="sidebar__item">
    <a href="/subscribers">
        <i class="fa fa-newspaper-o sidebar__item-icon"></i><span class="sidebar__item-text">Абоненты</span></a>
</div>
<div class="sidebar__item">
    <a href="/issuances">
        <i class="fa fa-ticket sidebar__item-icon"></i><span class="sidebar__item-text">Выдачи</span></a>
</div>
<div class="sidebar__item">
    <a href="/summary">
        <i class="fa fa-file-text sidebar__item-icon"></i><span class="sidebar__item-text">Отчёт</span></a>
</div>
